 <div class="row">
     
            <div>
                <span class= "col-lg-7">Welcome <b>{{adminNameLogged}}</b> <a ng-click="adminLogout();" class="btn">&nbsp;<i class="glyphicon glyphicon-log-out"></i>&nbsp; Logout</a></span>
                
            </div>
     
    <div class="col-md-12" ng-show="allAnnouncements.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/edit-announcement/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Announcement</a>
    </div>
    </nav>
        <table class="table table-striped table-bordered">
        <thead>
        <th>Announcement ID&nbsp;</th>
        <th>Heading &nbsp;</th>
        <th>Location &nbsp;</th>
        <th>Publish(Y/N)&nbsp;</th>
        <th>Modified/Created by&nbsp;</th>
        <th>Action&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in allAnnouncements">
                <td>{{data.AnnounceID}}</td>
                <td>{{data.Heading}}</td>
                <td>{{data.Location}}</td>
                <td>{{data.Publish}}</td>
                <td>{{data.AdminIDAnnouncement}}</td>
                <td><a href="#/edit-announcement/{{data.AnnounceID}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Announcement</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="allAnnouncements.length == 0">
        <div class="col-md-12">
            <h4>No Announcements found</h4>
        </div>
    </div>
</div>