<br/><br/>
 <div class="col-md-3">
     
                        <form id="selectedBox" action="" >
                            <div class="col-lg-11 ">
                                <br/><br/>
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="eventCategoryAll" readonly="true" placeholder="Search for...">
                                  
                                  <span class="input-group-btn">
                                      <a href="javascript:history.back()" class="btn btn-info" role="button">Go Back...</a>
                                      
                                  </span>
                                </div><!-- /input-group -->
                             </div>
                        </form>
                            
</div>

<div class="col-md-9 v-divider">
     <table class="table table-striped table-bordered">
        <thead>
        <th>Event Name&nbsp;</th>
        <th>Level&nbsp;</th>
        <th>Slots Available&nbsp;</th>
        <th>Fees&nbsp;</th>
        <th>Start Date&nbsp;</th>
        
        <th>Select&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in eventListMatched">
                <td>{{data.EventName}}</td>
                <td>{{data.LevelOfCourse}}</td>
                <td>{{data.NoOfAvailable}}</td>
                <td>{{data.CostPerPerson}}</td>
                <td>{{data.StartDate}}</td>
                
                
                <td><a href="#/getEventByID/{{data.EventID}}" class="btn">&nbsp;<i class="glyphicon glyphicon-eye-open"></i>&nbsp; Select Event</a></td>
            </tr>
        </tbody>
      </table>

</div>