<br/><br/>
<div>
<form role="form" id="myForm" name="myForm" class="form-horizontal">
<div class="row">
     <!-- <input type="text" style="display:none" readonly name="eventID" ng-model="selectedEventID" /> -->
    <label class= "col-md-2"> Name </label>
    <div class="col-md-4">
    <input name="name" ng-model="candidate.CandidateName" type= "text" class= "form-control" placeholder="Your name" required/>
    <span ng-show="myForm.name.$dirty && myForm.name.$invalid" class="help-inline">Name Required</span>
    </div>
</div>
<div class="form-group">
    <label class= "col-md-2">Gender</label>
    <div class="col-md-4" >
    <label class="radio-inline"><input type="radio" ng-model="candidate.Gender"  value="male" name="optgender" checked>Male</label>
    <label class="radio-inline"><input type="radio" ng-model="candidate.Gender" value="female" name="optgender">Female</label>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2"> Email address </label>
    <div class="col-md-4">
    <input name="email" ng-model="candidate.Email" type= "email" class= "form-control" placeholder="Enter email" required/>
    <span ng-show="myForm.email.$dirty && myForm.email.$invalid && !myForm.email.$error.email" class="help-inline">Email Required</span>
    <span ng-show="myForm.email.$error.email" class="help-inline">Email is not valid</span>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2">Age </label>
    <div class="col-md-4">
    <input ng-model="candidate.Age" type="text"  class= "form-control" placeholder= "Age"/>
    </div>
</div>
<div class= "form-group" ng-show="candidate.Age <18">
    <label class= "col-md-2">Guardian Name </label>
    <div class="col-md-4">
        <input ng-model="candidate.GuardianName" type= "text" class= "form-control" required placeholder= "Name of guardian"/>
    </div>
</div>
<div class= "form-group" ng-show="candidate.Age <18">
    <label class= "col-md-2">Guardian Relation </label>
    <div class="col-md-4">
        <input ng-model="candidate.GuardianRelation" type= "text" class= "form-control" required placeholder= "Relation of guardian"/>
    </div>
</div>
<div class= "form-group" >
    <label class= "col-md-2">Billing Address</label>
    <div class="col-md-4">
        <textarea ng-model="candidate.BillingAddress" type= "text" class= "form-control" required placeholder= "Billing Address"></textarea>
    </div>
</div>
<div class="form-group">
    <label class= "col-md-2">Payment Method</label>
    <div class="col-md-4">
        <label class="radio-inline"><input type="radio" ng-model="paymentOption"  value="cash"  ng-checked="true" name="optpayment">Cash</label>
    <label class="radio-inline"><input type="radio" ng-model="paymentOption" value="card" name="optpayment">Credit/Debit</label>
    </div>
</div>

<div class="form-group" ng-show="paymentOption == 'card'">
    <div class= "form-group">
        <label class="col-lg-3 control-label">Credit card number</label>
        <div class="col-md-4">
            <input type="text" maxlength="20" class="form-control" ng-model="candidate.CardNumber" name="cc" placeholder= "card number" />
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-lg-3  control-label" for="expiry-month">Expiration Date</label>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-xs-3">
              <select class="form-control col-sm-2" ng-model="candidate.expiryMonth" name="expiry-month" id="expiry-month">
                <option>Month</option>
                <option value="01">Jan (01)</option>
                <option value="02">Feb (02)</option>
                <option value="03">Mar (03)</option>
                <option value="04">Apr (04)</option>
                <option value="05">May (05)</option>
                <option value="06">June (06)</option>
                <option value="07">July (07)</option>
                <option value="08">Aug (08)</option>
                <option value="09">Sep (09)</option>
                <option value="10">Oct (10)</option>
                <option value="11">Nov (11)</option>
                <option value="12">Dec (12)</option>
              </select>
            </div>
            <div class="col-xs-3">
                <select class="form-control" ng-model="candidate.expiryYear" name="expiry-year">
                
                <option value="16">2016</option>
                <option value="17">2017</option>
                <option value="18">2018</option>
                <option value="19">2019</option>
                <option value="20">2020</option>
                <option value="21">2021</option>
                <option value="22">2022</option>
                <option value="23">2023</option>
                <option value="24">2024</option>
                <option value="25">2025</option>
                <option value="26">2026</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    
    
    <div class="form-group"> 
        <label class="col-lg-3 control-label">CVV</label>
        <div class="col-md-2">
            <input type="text" class="form-control"  ng-model="candidate.cvv" name="cvv" placeholder= "CVV"/>
        </div>
    </div>
</div>
    

<div class= "form-group">
    <label class= "col-md-2"></label>
    <div class="col-md-4">
    <a href="#/" class="btn">Cancel</a>
        <button ng-click="saveReservation(candidate);" 
               
                class="btn btn-primary">Make Reservation</button>
        
    </div>
</div>
    </form>

</div>


<script>
    $(document).ready(function() {
    $('#myForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            cc: {
                validators: {
                    creditCard: {
                        message: 'The credit card number is not valid'
                    }
                }
            }
        }
    });
});

</script>